.class1
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: pink;
}

.class1> div {
  background-color: lightblue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}


.class2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: pink;
}

.class2 > div {
  background-color: lightblue;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}